html, body {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
    background: #000000;
    scroll-behavior: smooth;
    width: 1440px;
}

@media (width: 360px) {
    html, body {
        width: 360px;
    }
}

@font-face {
    font-family: 'TT Commons';
    src: url('public/fonts/TTCommons-Light.eot');
    src: local('TT Commons Light'), local('TTCommons-Light'),
    url('public/fonts/TTCommons-Light.eot?#iefix') format('embedded-opentype'),
    url('public/fonts/TTCommons-Light.woff2') format('woff2'),
    url('public/fonts/TTCommons-Light.woff') format('woff'),
    url('public/fonts/TTCommons-Light.ttf') format('truetype');
    font-style: normal;
}

.container {
    display: grid;
    grid-template-rows:24px auto;
}

header {
    display: grid;
    grid-template-columns: 1310px 30px 50px;
    justify-items: end;
    height: 24px;
    margin-top: 30px;
}

@media (width: 360px) {
    header {
        grid-template-columns: 170px 20px 60px;
        justify-items: center;
        margin-top: 20px;
        margin-bottom: 52px;
        margin-left: 20px;

    }
}

.link {
    font-family: 'TT Commons', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-right: 10px;
}

@media (width: 360px) {
    .link {
        font-size: 16px;
        line-height: 20px;

    }
}

.arrow {
    content: '';
    width: 37px;
    height: 45px;
    margin-top: -15px;
    margin-left: -10px;
    background-color: #F51B1B;
    background: linear-gradient(225deg, transparent 10px, transparent 0) top right,
    linear-gradient(315deg, transparent 10px, transparent 0) bottom right,
    linear-gradient(45deg, transparent 10px, transparent 0) bottom left;
    background-size: 50.1% 50.1%;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 135% 0%, transparent 27px, #F51B1B 26px, #F51B1B 28px),
    radial-gradient(circle at 135% 100%, transparent 27px, #F51B1B 26px, #F51B1B 28px), none, none;
}

.section {
    display: grid;
    grid-template-columns:322px auto;
}

@media (width: 360px) {
    .section {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows:675px auto;
    }
}


.main {
    margin: 20px 0 0 40px;
    width: 322px;
}

@media (width: 360px) {
    .main {
        margin: 50px 0 0 20px;
        width: 322px;
    }
}

.photo {
    width: 322px;
    height: 355px;
    z-index: 1;
}

@media (width: 360px) {
    .photo {
        width: 320px;
        height: 353px;
    }
}

.glassses {
    position: absolute;
    top: 155px;
    left: 123px;
    z-index: 3;
    rotate: 5deg;
    width: 110px;
}

@media (width: 360px) {
    .glassses {
        top: 183px;
        left: 103px;
    }
}

.info {
    background: #F51B1B;
    border-radius: 24px 24px 0 0;
    height: 454px;

}

@media (width: 360px) {
    .info {
        background: #F51B1B;
        border-radius: 20px 20px 0px 0px;
        height: 288px;
    }
}

.brace {
    border: 2px solid #F51B1B;
    background: #F51B1B;
    height: 25px;
    position: relative;
    border-bottom: 0;
    border-radius: 24px 24px 0 0;
    margin-top: -30px;
    margin-bottom: 20px;
}

@media (width: 360px) {
    .brace {
        margin-bottom: 0;
    }
}

.brace.top:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 50px;
    height: 55px;
    margin-top: -27px;
    margin-left: -24px;
    background-color: #F51B1B;
    background: linear-gradient(135deg, transparent 10px, transparent 0) top left,
    linear-gradient(225deg, transparent 10px, transparent 0) top right,
    linear-gradient(315deg, transparent 10px, transparent 0) bottom right,
    linear-gradient(45deg, transparent 10px, transparent 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 0 0, transparent 25px, #F51B1B 26px, #F51B1B 28px),
    radial-gradient(circle at 100% 0, transparent 25px, #F51B1B 26px, #F51B1B 28px), none, none;
}

.name {
    font-family: 'Redcollar', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 8px;
    margin-left: 24px;
}

@media (width: 360px) {
    .name {
        font-size: 20px;
        line-height: 24px;

    }
}

.age {
    font-family: 'TT Commons', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-left: 24px;
}

@media (width: 360px) {
    .age {
        font-size: 16px;
        line-height: 20px;
    }
}

.box {
    display: grid;
    grid-template-columns: 34px auto;
    margin-bottom: 20px;
    margin-left: 24px;
}

@media (width: 360px) {
    .box {
        margin-bottom: 20px;
        margin-left: 14px;
    }

}

.icon {
    height: 19px;
    width: 19px;
    fill: #fff;
}

.data {
    margin-top: 12px;
}

.hello {
    font-family: 'TT Commons';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    height: 144px;
    width: 690px;
    margin-left: 75px;
    margin-bottom: 33px;
    margin-top: 18px;
    text-align: justify;
}

@media (width: 360px) {
    .hello {
        width: 320px;
        height: 240px;
        font-family: 'TT Commons';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.01em;
        margin-left: 20px;
        margin-bottom: 25px;
    }
}

.rect {
    width: 1006px;
    height: 765px;
    border-width: 0 1px 1px 1px; /* top right bottom left */
    border-style: solid solid solid solid;
    border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;

    margin-left: 75px;
    margin-bottom: 40px;
}

@media (width: 360px) {
    .rect {
        width: 318px;
        height: 810px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}

.curly-brace {
    border: 1px solid #FFFFFF;
    background: #000000;
    position: relative;
    border-bottom: 0;
    /*border-radius: 24px 24px 0 0;*/

}

.curly-brace.top:after {
    content: '';
    position: absolute;
    left: 10%;
    width: 50px;
    height: 65px;
    margin-top: -7px;
    margin-left: -24px;
    background-color: #000000;
    background: linear-gradient(135deg, transparent 10px, transparent 0) top left,
    linear-gradient(225deg, transparent 10px, transparent 0) top right,
    linear-gradient(315deg, transparent 10px, transparent 0) bottom right,
    linear-gradient(45deg, transparent 10px, transparent 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 100% 0, transparent 25px, transparent 26px, transparent 28px),
    radial-gradient(circle at 100% 100%, transparent 25px, white 26px, #000000 27px), none, none,
    radial-gradient(circle at 0% 100%, transparent 25px, white 26px, #000000 27px), none, none;
}

@media (width: 360px) {
    .curly-brace.top:after {
        left: 50%;
    }
}

.caption {
    font-family: 'Redcollar';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    margin-left: 27px;
}

@media (width: 360px) {
    .caption {
        margin-left: 15px;
        margin-bottom: 16px;
    }
}

.title {
    font-family: 'TT Commons';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

@media (width: 360px) {
    .title {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-left: 15px;
    }
}

.description {
    font-family: 'TT Commons';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    opacity: 0.4;
}

@media (width: 360px) {
    .description {
        font-size: 16px;
        line-height: 20px;
        margin-left: 15px;
    }
}

.year {
    font-family: 'TT Commons';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    opacity: 0.4;
}

@media (width: 360px) {
    .year {
        font-size: 16px;
        line-height: 20px;
        margin-left: 15px;
        margin-bottom: 12px;
    }
}

.skills-box {
    display: grid;
    grid-template-columns: 221px 300px;
    margin-top: 47px;
}

@media (width: 360px) {
    .skills-box {
        display: grid;
        grid-template-columns: auto;
        margin-top: 47px;
    }
}

.hr-line {
    margin: 20px 27px;
    padding: 0;
    height: 0;
    border: none;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

@media (width: 360px) {
    .hr-line {
        margin: 19px 15px;
    }
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr 1fr 1fr 1fr 1fr 1fr;
}

.skill {
    font-family: 'TT Commons';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-left: 32px;
}

@media (width: 360px) {
    .skills {
        display: grid;
        grid-template-columns: repeat(3, 60px);
        margin-top: 0;
    }
}